In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
os.getcwd() # Current working directory

'C:\\Users\\Jerome.gomes'

In [3]:
os.chdir("C:\\Users\\Jerome.gomes\\Desktop\\New folder\\PandasEssentialTraining\\data") # change working directory

In [4]:
os.getcwd()

'C:\\Users\\Jerome.gomes\\Desktop\\New folder\\PandasEssentialTraining\\data'

In [5]:
os.listdir() # See the list of files in the working directory

['olympics.csv',
 'Summer Olympic medallists 1896 to 2008 - IOC COUNTRY CODES.csv']

In [7]:
oo = pd.read_csv('olympics.csv', skiprows = 4)
oo.head()

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver

In [10]:
oo.dtypes

City            object
Edition          int64
Sport           object
Discipline      object
Athlete         object
NOC             object
Gender          object
Event           object
Event_gender    object
Medal           object
dtype: object

A series ois a one dimentional array of indexed data.  
Accessing a single series : Dataframe['Series Name'] OR Dataframe["Series Name"] OR Dataframe.Series Name  
Accessing a multiple series : Dataframe[['Series Name1','Series Name2']]

In [8]:
type(oo) # type(DataFrame)

pandas.core.frame.DataFrame

In [11]:
type(oo.Edition) # type(DataFrame.Series)

pandas.core.series.Series

In [12]:
type(oo[['City','Edition','Medal']]) # type(DataFrame[['Series1','Series2']])

pandas.core.frame.DataFrame

In [15]:
## Accessing Series
oo.City.head()

0    Athens
1    Athens
2    Athens
3    Athens
4    Athens
Name: City, dtype: object

In [17]:
oo['NOC'] # OR oo.NOC (dot notation can be used only when there are no spaces in the column name)

0        HUN
1        AUT
2        GRE
3        GRE
4        GRE
5        GRE
6        HUN
7        GRE
8        GRE
9        AUT
10       GRE
11       USA
12       HUN
13       USA
14       GER
15       USA
16       GBR
17       FRA
18       AUS
19       USA
20       GBR
21       USA
22       USA
23       GRE
24       AUS
25       HUN
26       GRE
27       USA
28       GRE
29       USA
        ...
29186    KAZ
29187    UZB
29188    RUS
29189    ARM
29190    KOR
29191    RUS
29192    AZE
29193    KAZ
29194    KGZ
29195    RUS
29196    AZE
29197    BLR
29198    UKR
29199    FRA
29200    KGZ
29201    FRA
29202    BUL
29203    GEO
29204    CHN
29205    TUR
29206    ITA
29207    HUN
29208    KAZ
29209    USA
29210    RUS
29211    GER
29212    LTU
29213    ARM
29214    CUB
29215    RUS
Name: NOC, Length: 29216, dtype: object

In [19]:
oo[['City','Edition','Medal']]

          City  Edition   Medal
0       Athens     1896    Gold
1       Athens     1896  Silver
2       Athens     1896  Bronze
3       Athens     1896    Gold
4       Athens     1896  Silver
5       Athens     1896  Bronze
6       Athens     1896    Gold
7       Athens     1896  Silver
8       Athens     1896  Bronze
9       Athens     1896    Gold
10      Athens     1896  Silver
11      Athens     1896  Bronze
12      Athens     1896  Bronze
13      Athens     1896    Gold
14      Athens     1896  Silver
15      Athens     1896    Gold
16      Athens     1896  Silver
17      Athens     1896  Bronze
18      Athens     1896    Gold
19      Athens     1896  Silver
20      Athens     1896  Bronze
21      Athens     1896    Gold
22      Athens     1896  Silver
23      Athens     1896  Bronze
24      Athens     1896    Gold
25      Athens     1896  Silver
26      Athens     1896  Bronze
27      Athens     1896    Gold
28      Athens     1896  Silver
29      Athens     1896    Gold
...        ...      ...     ...
29186  Beijing     2008  Bronze
29187  Beijing     2008    Gold
29188  Beijing     2008  Silver
29189  Beijing     2008  Bronze
29190  Beijing     2008  Bronze
29191  Beijing     2008    Gold
29192  Beijing     2008  Silver
29193  Beijing     2008  Bronze
29194  Beijing     2008  Bronze
29195  Beijing     2008    Gold
29196  Beijing     2008  Silver
29197  Beijing     2008  Bronze
29198  Beijing     2008  Bronze
29199  Beijing     2008    Gold
29200  Beijing     2008  Silver
29201  Beijing     2008  Bronze
29202  Beijing     2008  Bronze
29203  Beijing     2008    Gold
29204  Beijing     2008  Silver
29205  Beijing     2008  Bronze
29206  Beijing     2008    Gold
29207  Beijing     2008  Silver
29208  Beijing     2008  Bronze
29209  Beijing     2008  Bronze
29210  Beijing     2008    Gold
29211  Beijing     2008  Silver
29212  Beijing     2008  Bronze
29213  Beijing     2008  Bronze
29214  Beijing     2008    Gold
29215  Beijing     2008  Silver

[29216 rows x 3 columns]

In [ ]:
pd.read_csv # shit + tab to see documentation of the function

In [21]:
oo.shape # dimentions of the database

(29216, 10)

In [22]:
oo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29216 entries, 0 to 29215
Data columns (total 10 columns):
City            29216 non-null object
Edition         29216 non-null int64
Sport           29216 non-null object
Discipline      29216 non-null object
Athlete         29216 non-null object
NOC             29216 non-null object
Gender          29216 non-null object
Event           29216 non-null object
Event_gender    29216 non-null object
Medal           29216 non-null object
dtypes: int64(1), object(9)
memory usage: 2.2+ MB

#### Value Counts ####
Series.value_counts(nomalize=False,sort=True,ascending=False,bins=None,dropna=True)

In [23]:
oo.Edition.value_counts()

2008    2042
2000    2015
2004    1998
1996    1859
1992    1705
1988    1546
1984    1459
1980    1387
1976    1305
1920    1298
1972    1185
1968    1031
1964    1010
1952     889
1912     885
1956     885
1924     884
1960     882
1936     875
1948     814
1908     804
1928     710
1932     615
1900     512
1904     470
1896     151
Name: Edition, dtype: int64

In [25]:
oo.Gender.value_counts(ascending=True)

Women     7495
Men      21721
Name: Gender, dtype: int64

#### Sort Values ####
Series.sort_values(by, axis=0,ascending=True, inplace=False, kind='quicksort', na_position = 'last')

In [26]:
oo.Athlete.sort_values()

651                    AABYE, Edgar
2849          AALTONEN, Arvo Ossian
2852          AALTONEN, Arvo Ossian
7716       AALTONEN, Paavo Johannes
7730       AALTONEN, Paavo Johannes
7773       AALTONEN, Paavo Johannes
7709       AALTONEN, Paavo Johannes
8563       AALTONEN, Paavo Johannes
28460              AAMODT, Ragnhild
3436               AANING, Alf Lied
19062         AARDENBURG, Willemien
22769             AARDEWIJN, Pepijn
22267          AARONES, Ann Kristin
3437                  AAS, Karl Jan
2601           AAS, Thomas Valentin
28134              ABAJO, Jose Luis
27691              ABAKUMOVA, Maria
27983           ABALMASAU, Aliaksei
28417                    ABALO, Luc
24202         ABANDA ETONG, Patrice
21538            ABARCA, Jose Maria
27125                 ABAS, Stephen
16390     ABASCAL GARCIA, Alejandro
16806    ABASCAL GOMEZ, Jose Manuel
26049             ABASSOVA, Tamilla
28418                   ABATI, Joel
20477                   ABAY, Peter
6380             ABAY-NEMES, Oszkar
7003                  ABBA, Silvano
24757           ABBAGNALE, Agostino
                    ...
10948                ZYBINA, Galina
9128                 ZYBINA, Galina
8235                 ZYBINA, Galina
15817                ZYCH, Boguslaw
23611                ZYKINA, Olesya
25639                ZYKINA, Olesya
10596              ZÄHRINGER, Klaus
19282               ZÜHLKE, Steffen
18534                ZÜLOW, Andreas
1138                 ZÜRNER, Albert
1939                 ZÜRNER, Albert
15711           ÖRSTED, Hans-Henrik
2691                ÖRTEGREN, Ruben
3745                    ÖRVIG, Erik
3746                    ÖRVIG, Olav
3747                    ÖRVIG, Thor
3868                ÖSTENSEN, Östen
4009                ÖSTENSEN, Östen
3870                ÖSTENSEN, Östen
2730                ÖSTENSEN, Östen
3942                ÖSTENSEN, Östen
3737              ÖSTERVOLD, Henrik
3738           ÖSTERVOLD, Jan Olsen
3739      ÖSTERVOLD, Kristian Olsen
3740           ÖSTERVOLD, Ole Olsen
603                      ÖSTMO, Ole
608                      ÖSTMO, Ole
621                      ÖSTMO, Ole
596                      ÖSTMO, Ole
8051              ÖSTRAND, Per-Olof
Name: Athlete, Length: 29216, dtype: object

In [27]:
oo.sort_values(by=['Athlete','Edition'])

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
651,Paris,1900,Tug of War,Tug of War,"AABYE, Edgar",ZZX,Men,tug of war,M,Gold
2849,Antwerp,1920,Aquatics,Swimming,"AALTONEN, Arvo Ossian",FIN,Men,200m breaststroke,M,Bronze
2852,Antwerp,1920,Aquatics,Swimming,"AALTONEN, Arvo Ossian",FIN,Men,400m breaststroke,M,Bronze
7709,London,1948,Gymnastics,Artistic G.,"AALTONEN, Paavo Johannes",FIN,Men,individual all-round,M,Bronze
7716,London,1948,Gymnastics,Artistic G.,"AALTONEN, Paavo Johannes",FIN,Men,pommel horse,M,Gold
7730,London,1948,Gymnastics,Artistic G.,"AALTONEN, Paavo Johannes",FIN,Men,team competition,M,Gold
7773,London,1948,Gymnastics,Artistic G.,"AALTONEN, Paavo Johannes",FIN,Men,vault,M,Gold
8563,Helsinki,1952,Gymnastics,Artistic G.,"AALTONEN, Paavo Johannes",FIN,Men,team competition,M,Bronze
28460,Beijing,2008,Handball,Handball,"AAMODT, Ragnhild",NOR,Women,handball,W,Gold
3436,Antwerp,1920,Gymnastics,Artistic G.,"AANING, Alf Lied",NOR,Men,"team, free system",M,Silver
19062,Seoul,1988,Hockey,Hockey,"AARDENBURG, Willemien",NED,Women,hockey,W,Bronze
22769,Atlanta,1996,Rowing,Rowing,"AARDEWIJN, Pepijn",NED,Men,lightweight double sculls (2x),M,Silver
22267,Atlanta,1996,Football,Football,"AARONES, Ann Kristin",NOR,Women,football,W,Bronze
3437,Antwerp,1920,Gymnastics,Artistic G.,"AAS, Karl Jan",NOR,Men,"team, free system",M,Silver
2601,Stockholm,1912,Sailing,Sailing,"AAS, Thomas Valentin",NOR,Men,8m,X,Gold
28134,Beijing,2008,Fencing,Fencing,"ABAJO, Jose Luis",ESP,Men,épée individual,M,Bronze
27691,Beijing,2008,Athletics,Athletics,"ABAKUMOVA, Maria",RUS,Women,javelin throw,W,Silver
27983,Beijing,2008,Canoe / Kayak,Canoe / Kayak F,"ABALMASAU, Aliaksei",BLR,Men,K-4 1000m (kayak four),M,Gold
28417,Beijing,2008,Handball,Handball,"ABALO, Luc",FRA,Men,handball,M,Gold
24202,Sydney,2000,Football,Football,"ABANDA ETONG, Patrice",CMR,Men,football,M,Gold
21538,Atlanta,1996,Aquatics,Water polo,"ABARCA, Jose Maria",ESP,Men,water polo,M,Gold
27125,Athens,2004,Wrestling,Wrestling Free.,"ABAS, Stephen",USA,Men,- 55kg,M,Silver
16390,Moscow,1980,Sailing,Sailing,"ABASCAL GARCIA, Alejandro",ESP,Men,flying dutchman,X,Gold
16806,Los Angeles,1984,Athletics,Athletics,"ABASCAL GOMEZ, Jose Manuel",ESP,Men,1500m,M,Bronze
26049,Athens,2004,Cycling,Cycling Track,"ABASSOVA, Tamilla",RUS,Women,sprint,W,Silver
28418,Beijing,2008,Handball,Handball,"ABATI, Joel",FRA,Men,handball,M,Gold
20477,Barcelona,1992,Fencing,Fencing,"ABAY, Peter",HUN,Men,sabre team,M,Silver
6380,Berlin,1936,Aquatics,Swimming,"ABAY-NEMES, Oszkar",HUN,Men,4x200m freestyle relay,M,Bronze
7003,Berlin,1936,Modern Pentathlon,Modern Pentath.,"ABBA, Silvano",ITA,Men,Individual competition,M,Bronze
19283,Seoul,1988,Rowing,Rowing,"ABBAGNALE, Agostino",ITA,Men,quadruple sculls without coxswain (4x),M,Gold
...,...,...,...,...,...,...,...,...,...,...
8235,Helsinki,1952,Athletics,Athletics,"ZYBINA, Galina",URS,Women,shot put,W,Gold
9128,Melbourne / Stockholm,1956,Athletics,Athletics,"ZYBINA, Galina",URS,Women,shot put,W,Silver
10948,Tokyo,1964,Athletics,Athletics,"ZYBINA, Galina",URS,Women,shot put,W,Bronze
15817,Moscow,1980,Fencing,Fencing,"ZYCH, Boguslaw",POL,Men,foil team,M,Bronze
23611,Sydney,2000,Athletics,Athletics,"ZYKINA, Olesya",RUS,Women,4x400m relay,W,Bronze
25639,Athens,2004,Athletics,Athletics,"ZYKINA, Olesya",RUS,Women,4x400m relay,W,Silver
10596,Rome,1960,Shooting,Shooting,"ZÄHRINGER, Klaus",EUA,Men,50m rifle 3 positions (3x40 shots),M,Bronze
19282,Seoul,1988,Rowing,Rowing,"ZÜHLKE, Steffen",GDR,Men,quadruple sculls without coxswain (4x),M,Bronze
18534,Seoul,1988,Boxing,Boxing,"ZÜLOW, Andreas",GDR,Men,57 - 60kg (lightweight),M,Gold
1138,London,1908,Aquatics,Diving,"ZÜRNER, Albert",GER,Men,3m springboard,M,Gold
1939,Stockholm,1912,Aquatics,Diving,"ZÜRNER, Albert",GER,Men,10m platform,M,Silver
15711,Moscow,1980,Cycling,Cycling Track,"ÖRSTED, Hans-Henrik",DEN,Men,Individual Pursuit,M,Bronze
2691,Stockholm,1912,Shooting,Shooting,"ÖRTEGREN, Ruben",SWE,Men,"50m small bore rifle, team",M,Silver
3745,Antwerp,1920,Sailing,Sailing,"ÖRVIG, Erik",NOR,Men,12m (rating 1919),X,Gold
3746,Antwerp,1920,Sailing,Sailing,"ÖRVIG, Olav",NOR,Men,12m (rating 1919),X,Gold
3747,Antwerp,1920,Sailing,Sailing,"ÖRVIG, Thor",NOR,Men,12m (rating 1919),X,Gold
2730,Stockholm,1912,Shooting,Shooting,"ÖSTENSEN, Östen",NOR,Men,"free rifle, team",M,Silver
3868,Antwerp,1920,Shooting,Shooting,"ÖSTENSEN, Östen",NOR,Men,"300+600m free rifle, team, prone",M,Silver
3870,Antwerp,1920,Shooting,Shooting,"ÖSTENSEN, Östen",NOR,Men,300m free rifle 3 positions (3x40 shots),M,Bronze
3942,Antwerp,1920,Shooting,Shooting,"ÖSTENSEN, Östen",NOR,Men,"50m small bore rifle, team",M,Bronze
4009,Antwerp,1920,Shooting,Shooting,"ÖSTENSEN, Östen",NOR,Men,"free rifle, team",M,Silver
3737,Antwerp,1920,Sailing,Sailing,"ÖSTERVOLD, Henrik",NOR,Men,12m (rating 1907),X,Gold
3738,Antwerp,1920,Sailing,Sailing,"ÖSTERVOLD, Jan Olsen",NOR,Men,12m (rating 1907),X,Gold
3739,Antwerp,1920,Sailing,Sailing,"ÖSTERVOLD, Kristian Olsen",NOR,Men,12m (rating 1907),X,Gold
3740,Antwerp,1920,Sailing,Sailing,"ÖSTERVOLD, Ole Olsen",NOR,Men,12m (rating 1907),X,Gold
596,Paris,1900,Shooting,Shooting,"ÖSTMO, Ole",NOR,Men,"army rifle, 300m, 3 positions",M,Bronze
603,Paris,1900,Shooting,Shooting,"ÖSTMO, Ole",NOR,Men,"army rifle, 300m, prone",M,Bronze
608,Paris,1900,Shooting,Shooting,"ÖSTMO, Ole",NOR,Men,"army rifle, 300m, standing",M,Silver
621,Paris,1900,Shooting,Shooting,"ÖSTMO, Ole",NOR,Men,"free rifle, team",M,Silver
8051,Helsinki,1952,Aquatics,Swimming,"ÖSTRAND, Per-Olof",SWE,Men,400m freestyle,M,Bronze

#### Boolean Indexing ####
AND - &  
OR - |  
NOT = ~  
multiple conditions must be grouped using brackets

In [29]:
oo[oo.Medal == "Gold"]

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
6,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,1200m freestyle,M,Gold
9,Athens,1896,Aquatics,Swimming,"NEUMANN, Paul",AUT,Men,400m freestyle,M,Gold
13,Athens,1896,Athletics,Athletics,"BURKE, Thomas",USA,Men,100m,M,Gold
15,Athens,1896,Athletics,Athletics,"CURTIS, Thomas",USA,Men,110m hurdles,M,Gold
18,Athens,1896,Athletics,Athletics,"FLACK, Edwin",AUS,Men,1500m,M,Gold
21,Athens,1896,Athletics,Athletics,"BURKE, Thomas",USA,Men,400m,M,Gold
24,Athens,1896,Athletics,Athletics,"FLACK, Edwin",AUS,Men,800m,M,Gold
27,Athens,1896,Athletics,Athletics,"GARRETT, Robert",USA,Men,discus throw,M,Gold
29,Athens,1896,Athletics,Athletics,"CLARK, Ellery",USA,Men,high jump,M,Gold
33,Athens,1896,Athletics,Athletics,"CLARK, Ellery",USA,Men,long jump,M,Gold
36,Athens,1896,Athletics,Athletics,"LOUIS, Spyridon",GRE,Men,marathon,M,Gold
40,Athens,1896,Athletics,Athletics,"HOYT, William Welles",USA,Men,pole vault,M,Gold
43,Athens,1896,Athletics,Athletics,"GARRETT, Robert",USA,Men,shot put,M,Gold
46,Athens,1896,Athletics,Athletics,"CONNOLLY, James",USA,Men,triple jump,M,Gold
49,Athens,1896,Cycling,Cycling Road,"KONSTANTINIDIS, Aristidis",GRE,Men,individual road race,M,Gold
51,Athens,1896,Cycling,Cycling Track,"FLAMENG, Léon",FRA,Men,100km,M,Gold
54,Athens,1896,Cycling,Cycling Track,"MASSON, Paul",FRA,Men,10km,M,Gold
56,Athens,1896,Cycling,Cycling Track,"SCHMAL, Adolf",AUT,Men,12-hour race,M,Gold
59,Athens,1896,Cycling,Cycling Track,"MASSON, Paul",FRA,Men,1km time trial,M,Gold
62,Athens,1896,Cycling,Cycling Track,"MASSON, Paul",FRA,Men,Sprint indivual,M,Gold
65,Athens,1896,Fencing,Fencing,"GRAVELOTTE, Eugène-Henri",FRA,Men,foil individual,M,Gold
67,Athens,1896,Fencing,Fencing,"PYRGOS, Leonidas",GRE,Men,"foil, masters",M,Gold
70,Athens,1896,Fencing,Fencing,"GEORGIADIS, Ioannis",GRE,Men,sabre individual,M,Gold
72,Athens,1896,Gymnastics,Artistic G.,"WEINGÄRTNER, Hermann",GER,Men,horizontal bar,M,Gold
74,Athens,1896,Gymnastics,Artistic G.,"FLATOW, Alfred",GER,Men,parallel bars,M,Gold
76,Athens,1896,Gymnastics,Artistic G.,"ZUTTER, Louis",SUI,Men,pommel horse,M,Gold
79,Athens,1896,Gymnastics,Artistic G.,"MITROPOULOS, Ioannis",GRE,Men,rings,M,Gold
82,Athens,1896,Gymnastics,Artistic G.,"ANDRIAKOPOULOS, Nicolaos",GRE,Men,rope climbing,M,Gold
...,...,...,...,...,...,...,...,...,...,...
29110,Beijing,2008,Weightlifting,Weightlifting,"ARAMNAU, Andrei",BLR,Men,105kg,M,Gold
29113,Beijing,2008,Weightlifting,Weightlifting,"CHEN, Xiexia",CHN,Women,48kg,W,Gold
29116,Beijing,2008,Weightlifting,Weightlifting,"JAROENRATTANATARAKOON, Prapawadee",THA,Women,53kg,W,Gold
29119,Beijing,2008,Weightlifting,Weightlifting,"CHEN, Yanqing",CHN,Women,58kg,W,Gold
29122,Beijing,2008,Weightlifting,Weightlifting,"ZHANG, Xiangxiang",CHN,Men,62kg,M,Gold
29125,Beijing,2008,Weightlifting,Weightlifting,"PAK, Hyon Suk",PRK,Women,63kg,W,Gold
29128,Beijing,2008,Weightlifting,Weightlifting,"LIAO, Hui",CHN,Men,69kg,M,Gold
29131,Beijing,2008,Weightlifting,Weightlifting,"LIU, Chunhong",CHN,Women,69kg,W,Gold
29134,Beijing,2008,Weightlifting,Weightlifting,"CAO, Lei",CHN,Women,75kg,W,Gold
29137,Beijing,2008,Weightlifting,Weightlifting,"SA, Jaehyouk",KOR,Men,77kg,M,Gold
29140,Beijing,2008,Weightlifting,Weightlifting,"LU, Yong",CHN,Men,85kg,M,Gold
29143,Beijing,2008,Weightlifting,Weightlifting,"ILIN, Ilya",KAZ,Men,94kg,M,Gold
29147,Beijing,2008,Wrestling,Wrestling Free.,"HUYNH, Carol",CAN,Women,- 48kg,W,Gold
29151,Beijing,2008,Wrestling,Wrestling Free.,"CEJUDO, Henry",USA,Men,- 55kg,M,Gold
29155,Beijing,2008,Wrestling,Wrestling Free.,"YOSHIDA, Saori",JPN,Women,48 - 55kg,W,Gold
29159,Beijing,2008,Wrestling,Wrestling Free.,"BATIROV, Mavlet",RUS,Men,55 - 60kg,M,Gold
29163,Beijing,2008,Wrestling,Wrestling Free.,"ICHO, Kaori",JPN,Women,55 - 63kg,W,Gold
29167,Beijing,2008,Wrestling,Wrestling Free.,"SAHIN, Ramazan",TUR,Men,60 - 66kg,M,Gold
29171,Beijing,2008,Wrestling,Wrestling Free.,"WANG, Jiao",CHN,Women,63 - 72kg,W,Gold
29175,Beijing,2008,Wrestling,Wrestling Free.,"SAYTIEV, Buvaysa",RUS,Men,66 - 74kg,M,Gold
29179,Beijing,2008,Wrestling,Wrestling Free.,"MINDORASHVILI, Revazi",GEO,Men,74 - 84kg,M,Gold
29183,Beijing,2008,Wrestling,Wrestling Free.,"MURADOV, Shirvani",RUS,Men,84 - 96kg,M,Gold
29187,Beijing,2008,Wrestling,Wrestling Free.,"TAYMAZOV, Artur",UZB,Men,96 - 120kg,M,Gold
29191,Beijing,2008,Wrestling,Wrestling Gre-R,"MANKIEV, Nazyr",RUS,Men,- 55kg,M,Gold
29195,Beijing,2008,Wrestling,Wrestling Gre-R,"ALBIEV, Islam-Beka",RUS,Men,55 - 60kg,M,Gold
29199,Beijing,2008,Wrestling,Wrestling Gre-R,"GUENOT, Steeve",FRA,Men,60 - 66kg,M,Gold
29203,Beijing,2008,Wrestling,Wrestling Gre-R,"KVIRKELIA, Manuchar",GEO,Men,66 - 74kg,M,Gold
29206,Beijing,2008,Wrestling,Wrestling Gre-R,"MINGUZZI, Andrea",ITA,Men,74 - 84kg,M,Gold
29210,Beijing,2008,Wrestling,Wrestling Gre-R,"KHUSHTOV, Aslanbek",RUS,Men,84 - 96kg,M,Gold
29214,Beijing,2008,Wrestling,Wrestling Gre-R,"LOPEZ, Mijain",CUB,Men,96 - 120kg,M,Gold

In [30]:
oo[(oo.Medal == "Gold") & (oo.Gender == "Women")]

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
417,Paris,1900,Golf,Golf,"ABBOTT, Margaret Ives",USA,Women,individual,W,Gold
641,Paris,1900,Tennis,Tennis,"COOPER, Charlotte",GBR,Women,mixed doubles,X,Gold
649,Paris,1900,Tennis,Tennis,"COOPER, Charlotte",GBR,Women,singles,W,Gold
710,St Louis,1904,Archery,Archery,"HOWELL, Matilda Scott",USA,Women,double columbia round (50y - 40y - 30y),W,Gold
713,St Louis,1904,Archery,Archery,"HOWELL, Matilda Scott",USA,Women,double national round (60y - 50y),W,Gold
730,St Louis,1904,Archery,Archery,"HOWELL, Matilda Scott",USA,Women,teams FITA round,W,Gold
731,St Louis,1904,Archery,Archery,"POLLOCK, Jessie",USA,Women,teams FITA round,W,Gold
732,St Louis,1904,Archery,Archery,"TAYLOR, Louise",USA,Women,teams FITA round,W,Gold
733,St Louis,1904,Archery,Archery,"WOODRUFF, Laura",USA,Women,teams FITA round,W,Gold
1185,London,1908,Archery,Archery,"NEWALL, Sybil Fenton Quenni",GBR,Women,national round (60y - 50y),W,Gold
1843,London,1908,Skating,Figure skating,"SYERS, Florence",GBR,Women,individual,W,Gold
1849,London,1908,Skating,Figure skating,"HÜBLER, Anna",GER,Women,pairs,X,Gold
1870,London,1908,Tennis,Tennis,"CHAMBERS, Dorothy Katherine",GBR,Women,singles,W,Gold
1876,London,1908,Tennis,Tennis,"EASTLAKE-SMITH, Gwendoline",GBR,Women,singles indoor,W,Gold
1941,Stockholm,1912,Aquatics,Diving,"JOHANSSON, Greta",SWE,Women,10m platform,W,Gold
1956,Stockholm,1912,Aquatics,Swimming,"DURACK, Fanny",ANZ,Women,100m freestyle,W,Gold
1974,Stockholm,1912,Aquatics,Swimming,"FLETCHER, Jennie",GBR,Women,4x100m freestyle relay,W,Gold
1975,Stockholm,1912,Aquatics,Swimming,"MOORE, Isabella Mary",GBR,Women,4x100m freestyle relay,W,Gold
1976,Stockholm,1912,Aquatics,Swimming,"SPEIRS, Annie",GBR,Women,4x100m freestyle relay,W,Gold
1977,Stockholm,1912,Aquatics,Swimming,"STEER, Irene",GBR,Women,4x100m freestyle relay,W,Gold
2771,Stockholm,1912,Tennis,Tennis,"KÖRING, Dora",GER,Women,mixed doubles,X,Gold
2777,Stockholm,1912,Tennis,Tennis,"HANNAM, Edith Margaret",GBR,Women,mixed doubles indoor,X,Gold
2783,Stockholm,1912,Tennis,Tennis,"BROQUEDIS, Marguerite",FRA,Women,singles,W,Gold
2789,Stockholm,1912,Tennis,Tennis,"HANNAM, Edith Margaret",GBR,Women,singles indoor,W,Gold
2826,Antwerp,1920,Aquatics,Diving,"FRYLAND CLAUSEN, Stefani",DEN,Women,10m platform,W,Gold
2832,Antwerp,1920,Aquatics,Diving,"RIGGIN, Aileen",USA,Women,3m springboard,W,Gold
2844,Antwerp,1920,Aquatics,Swimming,"BLEIBTREY, Ethelda",USA,Women,100m freestyle,W,Gold
2859,Antwerp,1920,Aquatics,Swimming,"BLEIBTREY, Ethelda",USA,Women,400m freestyle,W,Gold
2865,Antwerp,1920,Aquatics,Swimming,"BLEIBTREY, Ethelda",USA,Women,4x100m freestyle relay,W,Gold
2866,Antwerp,1920,Aquatics,Swimming,"GUEST, Irene",USA,Women,4x100m freestyle relay,W,Gold
...,...,...,...,...,...,...,...,...,...,...
28982,Beijing,2008,Taekwondo,Taekwondo,"HWANG, Kyung Sun",KOR,Women,57 - 67 kg,W,Gold
29000,Beijing,2008,Tennis,Tennis,"WILLIAMS, Serena",USA,Women,doubles,W,Gold
29001,Beijing,2008,Tennis,Tennis,"WILLIAMS, Venus",USA,Women,doubles,W,Gold
29008,Beijing,2008,Tennis,Tennis,"DEMENTIEVA, Elena",RUS,Women,singles,W,Gold
29014,Beijing,2008,Triathlon,Triathlon,"SNOWSILL, Emma",AUS,Women,Individual,W,Gold
29024,Beijing,2008,Volleyball,Beach volley.,"MAY-TREANOR, Misty",USA,Women,beach volleyball,W,Gold
29025,Beijing,2008,Volleyball,Beach volley.,"WALSH, Kerri",USA,Women,beach volleyball,W,Gold
29076,Beijing,2008,Volleyball,Volleyball,"ALBUQUERQUE, Carolina",BRA,Women,volleyball,W,Gold
29077,Beijing,2008,Volleyball,Volleyball,"CARVALHO, Jaqueline",BRA,Women,volleyball,W,Gold
29078,Beijing,2008,Volleyball,Volleyball,"CASTRO, Sheilla",BRA,Women,volleyball,W,Gold
29079,Beijing,2008,Volleyball,Volleyball,"CLAUDINO, Fabiana",BRA,Women,volleyball,W,Gold
29080,Beijing,2008,Volleyball,Volleyball,"DE OLIVEIRA, Fabiana",BRA,Women,volleyball,W,Gold
29081,Beijing,2008,Volleyball,Volleyball,"GONZAGA, Welissa",BRA,Women,volleyball,W,Gold
29082,Beijing,2008,Volleyball,Volleyball,"MENEZES, Thaisa",BRA,Women,volleyball,W,Gold
29083,Beijing,2008,Volleyball,Volleyball,"MENEZES, Valeska",BRA,Women,volleyball,W,Gold
29084,Beijing,2008,Volleyball,Volleyball,"OLIVEIRA, Walewska",BRA,Women,volleyball,W,Gold
29085,Beijing,2008,Volleyball,Volleyball,"PEQUENO, Paula",BRA,Women,volleyball,W,Gold
29086,Beijing,2008,Volleyball,Volleyball,"SOUZA, Helia",BRA,Women,volleyball,W,Gold
29087,Beijing,2008,Volleyball,Volleyball,"STEINBRECHER, Marianne",BRA,Women,volleyball,W,Gold
29107,Beijing,2008,Weightlifting,Weightlifting,"JANG, Miran",KOR,Women,+ 75kg,W,Gold
29113,Beijing,2008,Weightlifting,Weightlifting,"CHEN, Xiexia",CHN,Women,48kg,W,Gold
29116,Beijing,2008,Weightlifting,Weightlifting,"JAROENRATTANATARAKOON, Prapawadee",THA,Women,53kg,W,Gold
29119,Beijing,2008,Weightlifting,Weightlifting,"CHEN, Yanqing",CHN,Women,58kg,W,Gold
29125,Beijing,2008,Weightlifting,Weightlifting,"PAK, Hyon Suk",PRK,Women,63kg,W,Gold
29131,Beijing,2008,Weightlifting,Weightlifting,"LIU, Chunhong",CHN,Women,69kg,W,Gold
29134,Beijing,2008,Weightlifting,Weightlifting,"CAO, Lei",CHN,Women,75kg,W,Gold
29147,Beijing,2008,Wrestling,Wrestling Free.,"HUYNH, Carol",CAN,Women,- 48kg,W,Gold
29155,Beijing,2008,Wrestling,Wrestling Free.,"YOSHIDA, Saori",JPN,Women,48 - 55kg,W,Gold
29163,Beijing,2008,Wrestling,Wrestling Free.,"ICHO, Kaori",JPN,Women,55 - 63kg,W,Gold
29171,Beijing,2008,Wrestling,Wrestling Free.,"WANG, Jiao",CHN,Women,63 - 72kg,W,Gold

#### String Handling ####
This function is available to avery Series using the "str" attribute  
Series.str

In [31]:
oo.Athlete.str.contains('Florence')

0        False
1        False
2        False
3        False
4        False
5        False
6        False
7        False
8        False
9        False
10       False
11       False
12       False
13       False
14       False
15       False
16       False
17       False
18       False
19       False
20       False
21       False
22       False
23       False
24       False
25       False
26       False
27       False
28       False
29       False
         ...
29186    False
29187    False
29188    False
29189    False
29190    False
29191    False
29192    False
29193    False
29194    False
29195    False
29196    False
29197    False
29198    False
29199    False
29200    False
29201    False
29202    False
29203    False
29204    False
29205    False
29206    False
29207    False
29208    False
29209    False
29210    False
29211    False
29212    False
29213    False
29214    False
29215    False
Name: Athlete, Length: 29216, dtype: bool

In [32]:
oo[oo.Athlete.str.contains('Florence')]

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
1843,London,1908,Skating,Figure skating,"SYERS, Florence",GBR,Women,individual,W,Gold
1848,London,1908,Skating,Figure skating,"SYERS, Florence",GBR,Women,pairs,X,Bronze
4173,Paris,1924,Aquatics,Swimming,"BARKER, Florence",GBR,Women,4x100m freestyle relay,W,Silver
8162,Helsinki,1952,Athletics,Athletics,"FOULDS-PAUL, June Florence",GBR,Women,4x100m relay,W,Bronze
9060,Melbourne / Stockholm,1956,Athletics,Athletics,"FOULDS-PAUL, June Florence",GBR,Women,4x100m relay,W,Silver
10849,Tokyo,1964,Athletics,Athletics,"AMOORE-POLLOCK, Judith Florence",AUS,Women,400m,W,Bronze
16817,Los Angeles,1984,Athletics,Athletics,"GRIFFITH-JOYNER, Florence",USA,Women,200m,W,Silver
18287,Seoul,1988,Athletics,Athletics,"GRIFFITH-JOYNER, Florence",USA,Women,100m,W,Gold
18305,Seoul,1988,Athletics,Athletics,"GRIFFITH-JOYNER, Florence",USA,Women,200m,W,Gold
18347,Seoul,1988,Athletics,Athletics,"GRIFFITH-JOYNER, Florence",USA,Women,4x100m relay,W,Gold
18374,Seoul,1988,Athletics,Athletics,"GRIFFITH-JOYNER, Florence",USA,Women,4x400m relay,W,Silver

In [36]:
# In Which events sis 'Jesse Owens' win a medal
jo = oo[oo.Athlete == 'OWENS, Jesse']

In [37]:
jo.Event.value_counts()

200m            1
long jump       1
100m            1
4x100m relay    1
Name: Event, dtype: int64